<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
                        http://www.springframework.org/schema/beans/spring-beans-4.3.xsd  
                        http://www.springframework.org/schema/context  
                        http://www.springframework.org/schema/context/spring-context-4.3.xsd  
                        http://www.springframework.org/schema/mvc  
                        http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
                        http://www.springframework.org/schema/task 
                        http://www.springframework.org/schema/task/spring-task-4.3.xsd"
                        default-autowire="byName" default-lazy-init="false">
                        
    <task:executor id="executor" pool-size="5"  />
	<task:scheduler id="scheduler" pool-size="10"  />
	<task:annotation-driven executor="executor" scheduler="scheduler"  />
	<!-- <context:component-scan base-package="com.quicksand.task"></context:component-scan> -->
      <!-- 要调用的工作类 -->
      <!-- <bean id="testTaskImpl" class="com.quicksand.task.TestTaskImpl"></bean> -->
      <!-- 定义调用对象和调用对象的方法 -->
        <bean id="testTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
            <!-- 调用的类 -->
            <property name="targetObject" ref="testTaskImpl" />
            <!-- 调用类中的方法 -->
            <property name="targetMethod" value="mothed1"/>
            <!-- 作业是否并发调度 --> 
        	<!--<property name="concurrent" value="true" /> -->
        </bean>  
        
        
        <!-- 定义触发时间 -->
        <!-- 方式1 -->                  
        <bean id="testTaskCronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
			<property name="jobDetail" ref="testTask" />
			<property name="cronExpression" value="0 0/10 * * * ?" />
		</bean>
		<!-- 方式2 -->
		<!-- <bean id="testTaskCronTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">  
			<property name="jobDetail" ref="testTask" />
			调度工厂实例化后，经过0秒开始执行调度  
			<property name="startDelay" value="0" />  
			<property name="repeatInterval" value="5000" />每5秒调度一次  
		</bean> --> 
	
	<!-- 总管理类 如果将lazy-init='false'那么容器启动就会执行调度程序  -->
	<bean id="startQuertz" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
	<property name="triggers">
		<list>
			<ref bean="testTaskCronTrigger" />
		</list>
	</property>
</bean>
</beans>